{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>
        <div class="form-inline">
            <div class="h2 col-md-7">Companies</div>
            <div class="h4 col-md-5" align="right">
                <a href="{{ path('app_addcompany_addcompany') }}" class="btn btn-light">Add company</a>
            </div>
        </div>
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Grading</th>
            </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr scope="row">
                    <td>{{ company.name }}</td>
                    <td>{{ company.type }}</td>
                    <td>
                        {% for star_index in 1..5 %}
                            <span class="fa fa-star {% if company.grading >= star_index %}checked{% endif %}"></span>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
